# Ignore the data/ directory
data/

# But track README.md files and create the data/raw and data/processed folders
!data/raw/README.md
!data/processed/README.md

*.cdsapirc
*.docx
*.aux
*.log
*.pdf
*.tex
*.toc
*.ipynb
template_files/
template\ copy\ 3_files/